In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Statistical overview:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
sn_count = purchase_data["SN"].value_counts()
total_players = len(sn_count)

disp_total_players = pd.DataFrame({"Total Players":[total_players]})
disp_total_players

   Total Players
0            576

In [11]:
#Purchasing Analysis (Total)
item_count = purchase_data["Item Name"].value_counts()

unique_item = len(item_count)

average_price = round(purchase_data["Price"].mean(),2)

number_purchases = len(purchase_data)

total_revenue = purchase_data["Price"].sum()

In [12]:
#Purchasing Analysis (Total)
data_df = pd.DataFrame({"Number of Unique Items":[unique_item], 
                        "Average Price": "$"+str(average_price), 
                        "Number of Purchases":[number_purchases], 
                        "Total Revenue": "$"+str(total_revenue)})
data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [21]:
#Gender Demographics
Male_count = purchase_data['Gender'].value_counts()

Male_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [57]:
#Count every gender separately
only_male = purchase_data.loc[(purchase_data["Gender"] == "Male")]
total_males = len(only_male)

only_females = purchase_data.loc[(purchase_data["Gender"] == "Female")]
total_females = len(only_females)

only_non = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed")]
total_non = len(only_non)

#Percentages
male_percent = round(((total_males* 100)/ 576),2)
female_percent = round(((total_females* 100)/ 576),2)
other_percent = round(((total_non* 100)/ 576),2)

#Dataframe
gender_df = pd.DataFrame({"Gender":["Female", "Male", "Other / Non-Disclosed"],
                          "Total count":[total_females, total_males, total_non],
                         "Percentage of Players":[female_percent, male_percent, other_percent]})
gender_df

                  Gender  Total count  Percentage of Players
0                 Female          113                  19.62
1                   Male          652                 113.19
2  Other / Non-Disclosed           15                   2.60

In [97]:
#Gender Analisis
male_purchases = purchase_data.dropna(how="any")
male_purchases

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60