In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#Statistical overview:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [9]:
#Number of Players
purchase_data["SN"].unique()
purchase_data["SN"].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Silaera56      3
Ialallo29      3
              ..
Aeri84         1
Tyialisti80    1
Chadossa89     1
Ririp86        1
Eusri26        1
Name: SN, Length: 576, dtype: int64

In [27]:
count = purchase_data["Item Name"].value_counts()

len_count = len(count)
len_count

179

In [24]:
#Purchasing Analysis (Total)
average_price = purchase_data["Price"].mean()
unique_item = purchase_data["Item Name"].unique()
unique_item_count = unique_item.len()
unique_item_count

AttributeError: 'numpy.ndarray' object has no attribute 'len'